@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
    <h1>USER GUIDE TO CHEMICAL MANAGEMENT PROGRAM</h1>
    <ul>
        <li>1. Login: Please select the 'Login' link in the top right corner of the navbar. With the Username and Password supplied by the program administrator, please enter the details
            into the textbox and select 'login'. If your password is incorrect you will be prompted to renenter your details. If correct, all options will appear for your lab work.
        </li>
        <li>2. You will now see options for Labs, Reagents, Stock, Chemical Type, User Manangement (if admin) and a button to log out.
            This program has cookie-based authorization so once you are logged in your will have access to these options. If you session is interupted or you logout, these options will no longer be accessable.
        </li>
    </ul>
</div>
