html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.carousel-inner {
    display: block;
    width: 80%;
    overflow: hidden;
    margin: auto;
    padding-top: 50px;
}

h1{
    padding-top:20px;

}