@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var returnUrl = ViewData["returnUrl"] as string;
    var error = TempData["Error"] as string;
}
<header>
    <script src="https://kit.fontawesome.com/b2c61ed4ff.js" crossorigin="anonymous"></script>
</header>
<h1> <i class="fa-solid fa-key"></i> Please Log-in</h1>
@if (!string.IsNullOrEmpty(error))
{
    <h3><strong class="alert-danger">@error</strong></h3>
}
 <div class="row">
        <div class="col-md-4">
            <section class="log-in-form" >
<div>
<img class="log-in-img" src="https://media.istockphoto.com/photos/female-doctor-working-with-her-laptop-picture-id1139629383?k=20&m=1139629383&s=612x612&w=0&h=LF2dc22MKw328MJkH2EizCkxk9N-PBW8CnxPBje7D1Q=" class='img-about' alt="Daniel">
</div>
<form action="/Login?returnUrl=@System.Net.WebUtility.UrlEncode(returnUrl)" method="post">
    <input class="log-in-form" type="text" name="username" placeholder="Username" />
    <input class="log-in-form" type="password" name="password" placeholder="Password" />
    <input class="log-in-form" type="submit" value="login" />
</form>


</section>
                    </div
                </div>


